.itemCarrinho {
  display: flex;
  gap: 1.563rem;
  border-bottom: 1px solid #5f5d5d65;
  padding: 1.125rem;
  margin-bottom: 1.375rem;
}

.itemCarrinho img {
  width: 5rem;
  flex: 1;
  height: min-content;
}

.tituloEAutor {
  flex: 3;
}

.tituloEAutor p {
  margin-top: 12px;
}

.itemCarrinho .btnDelete {
  background-color: transparent;
  cursor: pointer;
}

.itemCarrinho .btnDelete:hover svg line {
  stroke: #ed1d24;
}

.precoEBotao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  align-self: flex-start;
  flex: 2;
}

.itemCarrinho .preco {
  font-weight: bold;
}

.quantidadeCarrinho {
  display: flex;
  gap: 8px;
  margin-top: 22px;
}

.contadorQuantidade {
  width: 26px;
  border-radius: 5px;
  height: fit-content;
  border: 2px solid black;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.btnQuantidadeCarrinho {
  width: 32px;
  border-radius: 8px;
  background-color: #ffc700;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}
