.itemCarrinho {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #5f5d5d65;
  padding: 18px;
  margin-bottom: 22px;
}

.itemCarrinho img {
  width: 5rem;
  flex: 0.7;
}

.tituloEAutor {
  flex: 3;
}

.tituloEAutor p {
  margin-top: 12px;
}

.itemCarrinho button {
  background-color: transparent;
  cursor: pointer;
}

.itemCarrinho button:hover > svg line {
  stroke: #ed1d24;
}

.precoEBotao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  align-self: flex-start;
  flex: 2;
}

.itemCarrinho .preco {
  font-weight: bold;
}
