.mainProdutos * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.mainProdutos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}
.mainProdutos button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.mainProdutos .carrossel::-webkit-scrollbar {
  display: none;
}
.conteinerProdutos {
  max-width: 80vw;
  width: 100%;
  height: 100%;
}
.carrossel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 220px;
  height: 450px;
  margin: 20px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
.imgProduto {
  display: flex;
  justify-content: center;
}
.infoProduto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  padding: 0 20px;
}
.imgProduto img {
  width: 100%;
  max-width: 150px;
  object-fit: cover;
}
.infoProduto p {
  display: block;
  align-items: center;
}

.titulo {
  font-size: 12px;
}

.buttons {
  transform: rotate(180deg);
}

.btnComprar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
}
.btnComprar button {
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ffc700;
}

@media (max-width: 550px) {
  .mainProdutos {
    position: relative;
    margin-bottom: 100px;
  }

  .buttons {
    position: absolute;
    left: 50px;
    bottom: 0px;
    height: fit-content;
  }

  .buttons2 {
    position: absolute;
    right: 10px;
    bottom: -5px;
    height: fit-content;
  }
}
