.wrapper {
  background-color: #ffc700;
  position: sticky;
  top: 0;
  z-index: 2;
}

.box_header {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #ffc700;
  margin: 0 auto;
}

.box_input {
  height: 42px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
  max-width: 520px;
  width: 100%;
}

.box_input input {
  width: 100%;
  height: 39px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding-left: 15px;
}

.lupinha_botao {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/lupinha_icon.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3em;
  padding-right: 40px;
  margin: 0px;
}

.lupinha_botao:hover {
  cursor: pointer;
}

.box_icons {
  width: 220px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.texto_usuario {
  width: min-content;
  font-weight: bold;
  font-size: 11px;
  text-decoration: underline;
}

.usuario_icon {
  width: 49px;
  height: 40px;
}

.carrinho_icon {
  width: 40px;
  height: 40px;
}

.logo {
  display: flex;
}

.imagem_logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.texto_logo {
  padding-top: 5px;
  padding-left: 1rem;
  white-space: nowrap;
  font-family: "Montserrat";
  white-space: nowrap;
}

.quantidadeCarrinho {
  position: relative;
}

.quantidadeCarrinho span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  height: min-content;

  padding: 5px 9px;
  transform: translateX(14px);

  background-color: red;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  font-family: sans-serif;
}

.usuario_iconMobile {
  display: none;
}

@media (max-width: 1105px) {
  .box_header {
    padding-inline: 0;
    gap: 40px;
  }

  .box_input {
    width: 90%;
  }
}

@media (max-width: 910px) {
  .logo {
    padding: 0;
  }
  .box_header {
    gap: 20px;
  }
}

@media (max-width: 776px) {
  .usuario_iconMobile {
    display: flex;
    max-width: 49px;
    width: 100%;
    height: 40px;
  }

  .usuario_icon,
  .texto_usuario {
    display: none;
  }

  .box_icons {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .box_header {
    justify-content: center;
  }

  .box_icons {
    padding: 0;
    width: 33%;
    gap: 3px;
  }

  .usuario_iconMobile {
    width: 90px;
  }

  .box_input {
    justify-self: center;
  }

  .texto_logo {
    display: none;
  }
}
