.box_header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #FFC700;
  position: sticky;
  top: 0;
}
.box_input {
  height: 42px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.box_icons {
  width: 220px;
  height: 50px;
  padding-right: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.texto_usuario {
  padding-top: 5px;
  font-weight: bold;
  font-size: 11px;
  text-decoration: underline;
}
.usuario_icon {
  width: 49px;
  height: 40px;
  padding-right: 8px;
}
.carrinho_icon {
  width: 40px;
  height: 40px;
}
.logo {
  padding-left: 3.5rem;
  display: flex;
}
.imagem_logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.texto_logo {
  padding-top: 5px;
  padding-left: 1rem;
  font-family: 'Montserrat';
  white-space: nowrap
}