.carrinhoContainer {
  border-radius: 8px;
  margin: 120px auto;
  padding: 5rem;
  width: 60vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.carrinhoContainer h1 {
  margin-top: -22px;
  margin-bottom: 22px;
  margin-left: -16px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  gap: 40px;
}

.btnContinuar,
.btnComprar {
  padding: 1.25rem 0;
  max-width: 306px;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #ffc700;
  cursor: pointer;

  transition: 0.2s;
}

.botoes button:hover {
  background-color: #e0bb32;
  transform: scale(1.04);
}

.total {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 990px) {
  .carrinhoContainer {
    width: 80vw;
  }
}

@media (max-width: 790px) {
  .carrinhoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .botoes {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .btnContinuar,
  .btnComprar {
    padding-inline: 33px;
  }
}
